SEARCH
<br>
<a href="#/search/list?{{ generateUrl() }}">List</a>
<a href="#/search/map?{{ generateUrl() }}">Map</a>

<a href="#/search/map/listing/8225329">Full Listing</a>

HERE BE MY FILTERS
        <br>


 <ng-include src="template"></ng-include>
<!--<button ng-click="getShapes()">SHAPES</button>-->
<button ng-hide="isCreatingAlert || isNamingAlert" ng-click="createAlert()">Create Alert from this search</button>
<div ng-show="isCreatingAlert && !isNamingAlert">
    <button ng-click="nameAlert()">Save Alert</button>
    <form name="radioStuff">
        <input ng-model="isArea" value="true" type="radio"/>Area
        <input ng-model="isArea" value="false" type="radio"/>Neigborhoods
    </form>
</div>
<div ng-show="isNamingAlert">
    <input ng-model="alertName" type="text"/>
    <button ng-click="saveAlert()">Really Save alert</button>
</div>
<button ng-show="isNamingAlert || isCreatingAlert" ng-click="cancelAlert()">Cancel</button>